<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Express + Browserify.</title>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>


<div class="pure-g">
<div class="pure-u-1-1">
     <h1>Hello, Lightboxes!</h1>
</div>
</div>

<script src="bundle.js"></script>
</body>
</html>
